{% macro dump_var(var) -%}
{%- if var is mapping %}
{
{%- for key, value in var.items() %}
"{{ key }}": {{ dump_var(value) | indent(2) }}{% if not loop.last %},{% endif %}
{%- endfor %}
}
{%- elif var is iterable and var is not string -%}
[
{%- for val in var %}
{{ dump_var(val) | indent(2) }}{% if not loop.last %},{% endif %}
{%- endfor %}
]
{%- elif var is number -%}
{{ var }}
{%- else -%}
"{{ var }}"
{%- endif -%}
{%- endmacro %}

{
 "cells": [
  {
   "cell_type": "code",
   "execution_count": null,
   "metadata": {},
   "outputs": [],
   "source": {{ dump_var(examples['first'].replace("\"", "\\\"").replace("\n", "\\n\n").split("\n")) }}
  }
 ],
 "metadata": {{ dump_var(meta) | indent(2) }},
 "nbformat": 4,
 "nbformat_minor": 2
}
